@import "typography";

$size-menu-top-margin: 15pt;
$size-menu-logo: 60pt;
$size-top-section: $size-menu-top-margin + $size-menu-logo;

$size-sidebar-width: 20vw;

$size-tiny-space: 5pt;
$size-small-space: 14pt;
$size-medium-space: 21pt;
$size-large-space: 28pt;

$size-sidebar-link-horizontal-padding: 15pt;
$size-sidebar-link-vertical-padding: 5pt;
$size-sidebar-link-inner-padding: 5pt;
$size-sidebar-border-radius: 30pt;

$size-table-row-height: 70px;
$size-table-row-vertical-padding: calc((#{$size-table-row-height} - #{$font-size-normal}) / 2);

// Align child elements to the same height as the bottom of our logo.
@mixin top-section {
    height: $size-top-section;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}