@import "./fonts";

$font-multiplier: 0.8;

h1 {
    font: {
        family: "Saira Semi Condensed";
        weight: bold;
        size: 40pt * $font-multiplier;
    }
}

h2 {
    font: {
        family: "Saira Semi Condensed";
        weight: 300;
        size: 24pt * $font-multiplier;
    }
}

h3 {
    font: {
        family: "Source Sans Pro";
        weight: bold;
        size: 18pt * $font-multiplier;
    }
}

body {
    font: {
        family: "Source Sans Pro";
        size: 16pt * $font-multiplier;
    }
}

.monospace {
    font-family: "Robot Mono";
}