@import "./fonts";
@import "./colors";

// Firo brand guidelines specify a base font of 16pt, but that's too large for our UI.
$font-size-normal: 12pt;

h1 {
    color: $color-text-dark;
    font: {
        family: "Saira Semi Condensed";
        weight: bold;
        size: $font-size-normal * 2.5;
    }
}

h2 {
    color: $color-text-dark;
    font: {
        family: "Saira Semi Condensed";
        weight: 300;
        size: $font-size-normal * 1.5;
    }
}

h3 {
    color: $color-text-dark;
    font: {
        family: "Source Sans Pro";
        weight: bold;
        size: $font-size-normal * 1.125;
    }
}

body {
    color: $color-text-light;
    font: {
        family: "Source Sans Pro";
        size: $font-size-normal;
    }
}

a {
    color: darken($color-text-light, 15%);
}

@mixin monospace {
    font-family: "Robot Mono";
}

@mixin large {
    font-size: $font-size-normal * 1.5;
}

@mixin small {
    font-size: $font-size-normal * 0.8;
}

@mixin mini {
    font-size: $font-size-normal * 0.7;
}